
@media screen and ( max-width: 550px ) { 
  section input {
    top: 0;
    height: 60px;
    left: 30px;
  }
  
  section .searchButton {
    top: 8px;
    right: 30px;
    background-size: 30px 30px;
  }

  ::placeholder {
    font-size: 16px;
  }
}

@media screen and ( max-width: 414px ) { 
  section {
    height: 170px;
  }

  section input {
    height: 50px;
  }

  section .searchButton {
    right: 22px;
    
  }
}

@media screen and ( max-width: 360px ) { 
  section .searchButton {
    right: 10px;
    top: 8px;
    background-size: 30px 30px;
  }

  ::placeholder {
    font-size: 14px;
  }
}